<div class="card-item">
	<div class="card-item__side">
		<div class="card-item__img">
			<a href="#"><img src="@@img" alt=""></a>
		</div>
		<div class="card-item__actions">
			<span class="action-btn ms-1 me-1">
				<svg class="icon icon-heart">
					<use xlink:href="img/sprite.svg#heart"></use>
				</svg>
			</span>
			<span class="action-btn ms-1 me-1">
				<svg class="icon icon-statistic">
					<use xlink:href="img/sprite.svg#statistic"></use>
				</svg>
			</span>
		</div>
	</div>
	<div class="card-item__content">

		<div class="card-item__content-info">
			<a href="#" class="card-item__title">@@title</a>
			<div class="card-item__text">@@text</div>
		</div>
		<div class="card-item__content-details">
			<div class="card-item__price">
				<span class="price-value">@@price_value</span>
			</div>
			<div class="card-item__table ci-table">
				<div class="ci-table__item">
					<div class="ci-table__link">
						<div class="cit-link">2cent.ru</div>
					</div>
					<div class="ci-table__price">
						<div class="nowrap">от 24 990 ₽</div>
					</div>
				</div>
				<div class="ci-table__item">
					<div class="ci-table__link">
						<div class="cit-link">shoper.ru</div>
					</div>
					<div class="ci-table__price">
						<div class="nowrap">от 24 990 ₽</div>
					</div>
				</div>
				<div class="ci-table__item">
					<div class="ci-table__link">
						<div class="cit-link">thecase.ru</div>
					</div>
					<div class="ci-table__price">
						<div class="nowrap">от 24 990 ₽</div>
					</div>
				</div>
				<div class="ci-table__item">
					<div class="ci-table__link">
						<div class="cit-link">thecase.ru</div>
					</div>
					<div class="ci-table__price">
						<div class="nowrap">от 24 990 ₽</div>
					</div>
				</div>
			</div>
			<div class="card-item__button">
				<a href="" class="l-btn l-btn--gradient">@@button</a>
			</div>
		</div>
	</div>

</div>