<div class="price-card">
	<div class="price-card__img">
		<a href="#">
			<img src="@@img" alt="">
		</a>
	</div>
	<div class="price-card__wrapper">
		<div class="price-card__content">
			<div class="price-card__title">
				<a href="#">@@title</a>
			</div>
			<div class="price-card__delivery">
				Самовывоз есть <br>
				Доставка по Москве - от 400 ₽

			</div>
		</div>
		<div class="price-card__info">
			<div class="price-card__logo">
				<a href="#"><img src="@@logo" alt=""></a>
			</div>
			<div class="price-card__price">
				<span class="price-value">@@price</span>
			</div>
			<div class="price-card__button">
				<a href="#" class="l-btn l-btn--gradient l-btn--md l-btn--block">В магазин</a>
			</div>
		</div>
	</div>

</div>