<div class="product-card">
	<div class="product-card__img">
		<a href="#">
			<img src="@@img" alt="">
		</a>
	</div>
	<div class="product-card__actions ">
		<span class="action-btn ms-1 me-1">
			<svg class="icon icon-heart">
				<use xlink:href="img/sprite.svg#heart"></use>
			</svg>
		</span>
		<span class="action-btn ms-1 me-1">
			<svg class="icon icon-statistic">
				<use xlink:href="img/sprite.svg#statistic"></use>
			</svg>
		</span>
	</div>

	<div class="product-card__body">
		<a href="#" class="product-card__title">@@title</a>
		<div class="product-card__price ">
			<span class="price-value">@@price_value</span>
		</div>

		<div class="product-card__button">
			<a href="#" class="l-btn">Посмотреть</a>
		</div>
	</div>

</div>