
.nowrap
	white-space: nowrap

.ttu
	text-transform: uppercase

.italic
	font-style: italic

.font-700
	font-weight: 700
.font-500
	font-weight: 500
.font-400
	font-weight: 400
.font-300
	font-weight: 300
.font-100
	font-weight: 100

.title-2
	font-size: 20px
	font-weight: 600

.margin
	+margin

.color-danger
	color: $color-danger !important

.seo-text
	color: $color-default
	p
		margin-bottom: 24px
		&:last-child
			margin-bottom: 0

.link
	color: $color-danger
	text-decoration: underline
	&:hover
		text-decoration: none

	&--default
		color: $color

+max($ipad)
	.title-2
		font-size: 18px

+max($iphone)
	.title-2
		font-size: 14px
