<footer class="footer">
	<div class="footer__container container-lg">
		<div class="footer__top row gy-4">

			<div class="col-xl-3 col-lg-4 col-md-3">
				<a href="#" class="footer__logo logo ">
					<span class="color-danger">я</span>Каталог
				</a>
			</div>
			<div class="col-xl-9 col-lg-8 col-md-9">
				<div class="row gy-4">
					<div class="col-xl-5 col-sm-6 offset-xl-1">
						<div class="footer__title">Покупателям</div>
						<ul class="footer__nav">
							<li>
								<a href="#">О компании</a>
							</li>
							<li>
								<a href="#">Контакты</a>
							</li>
							<li>
								<a href="#">Статьи, обзоры, рекомендации</a>
							</li>
						</ul>
					</div>
					<div class="col-xl-5 col-sm-6 ">
						<div class="footer__title">Магазинам</div>
						<ul class="footer__nav">
							<li>
								<a href="#">Подключить магазин</a>
							</li>
							<li>
								<a href="#">Правила размещения</a>
							</li>

						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="footer__bottom d-flex justify-content-between align-items-center">
			<div class="copyright">&copy; 2023 yakatalog.ru</div>
			<img src="img/logo-a.png" alt="">
		</div>
	</div>
</footer>