<div class="offcanvas offcanvas-start" id="navbar-catalog">
	<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	<div class="offcanvas-body">
		<div class="navbar-catalog">
			<div class="navbar-catalog__side scrollbar">
				<ul class="nc-nav">
					<li class="nc-nav__item _active">
						<a href="#" class="nc-nav__link">Одежда и обувь</a>
					</li>
					<li class="nc-nav__item">
						<a href="#" class="nc-nav__link">Электроника</a>
					</li>
					<li class="nc-nav__item">
						<a href="#" class="nc-nav__link">Детские товары</a>
					</li>
					<li class="nc-nav__item">
						<a href="#" class="nc-nav__link">Часы</a>
					</li>
					<li class="nc-nav__item">
						<a href="#" class="nc-nav__link">Для дома и сада</a>
					</li>
					<li class="nc-nav__item">
						<a href="#" class="nc-nav__link">Красота и здоровье</a>
					</li>
					<li class="nc-nav__item">
						<a href="#" class="nc-nav__link">Спорт и Хобби</a>
					</li>
					<li class="nc-nav__item">
						<a href="#" class="nc-nav__link">Мебель</a>
					</li>
					<li class="nc-nav__item">
						<a href="#" class="nc-nav__link">Строительные материалы</a>
					</li>
					<li class="nc-nav__item">
						<a href="#" class="nc-nav__link">Все для авто</a>
					</li>
					<li class="nc-nav__item">
						<a href="#" class="nc-nav__link">Книги</a>
					</li>
					<li class="nc-nav__item">
						<a href="#" class="nc-nav__link">Техника для дома</a>
					</li>
					<li class="nc-nav__item">
						<a href="#" class="nc-nav__link">Ювелирные изделия</a>
					</li>
					<li class="nc-nav__item">
						<a href="#" class="nc-nav__link">Развлечения</a>
					</li>
					<li class="nc-nav__item">
						<a href="#" class="nc-nav__link">Животные</a>
					</li>
					<li class="nc-nav__item">
						<a href="#" class="nc-nav__link">Музыкальные инструменты</a>
					</li>
					<li class="nc-nav__item">
						<a href="#" class="nc-nav__link">Товары для животных</a>
					</li>
					<li class="nc-nav__item">
						<a href="#" class="nc-nav__link">Разное</a>
					</li>
					<li class="nc-nav__item">
						<a href="#" class="nc-nav__link">Сельхозтехника</a>
					</li>

				</ul>
			</div>

			<div class="navbar-catalog__content scrollbar">
				<div class="nc-grid">
					<div class="nc-grid__item">
						<div class="ncg-title">Обувь</div>
						<ul class="ncg-nav">
							<li><a href="#">Женская обувь</a></li>
							<li><a href="#">Угги</a></li>
							<li><a href="#">Сандалии</a></li>
							<li><a href="#">Туфли</a></li>

						</ul>
					</div>
					<div class="nc-grid__item">
						<div class="ncg-title">Обувь</div>
						<ul class="ncg-nav">
							<li><a href="#">Женская обувь</a></li>
							<li><a href="#">Угги</a></li>
							<li><a href="#">Сандалии</a></li>
							<li><a href="#">Туфли</a></li>

						</ul>
					</div>
					<div class="nc-grid__item">
						<div class="ncg-title">Обувь</div>
						<ul class="ncg-nav">
							<li><a href="#">Женская обувь</a></li>
							<li><a href="#">Угги</a></li>
							<li><a href="#">Сандалии</a></li>
							<li><a href="#">Туфли</a></li>

						</ul>
					</div>
					<div class="nc-grid__item">
						<div class="ncg-title">Обувь</div>
						<ul class="ncg-nav">
							<li><a href="#">Женская обувь</a></li>
							<li><a href="#">Угги</a></li>
							<li><a href="#">Сандалии</a></li>
							<li><a href="#">Туфли</a></li>

						</ul>
					</div>
					<div class="nc-grid__item">
						<div class="ncg-title">Обувь</div>
						<ul class="ncg-nav">
							<li><a href="#">Женская обувь</a></li>
							<li><a href="#">Угги</a></li>
							<li><a href="#">Сандалии</a></li>
							<li><a href="#">Туфли</a></li>

						</ul>
					</div>
					<div class="nc-grid__item">
						<div class="ncg-title">Обувь</div>
						<ul class="ncg-nav">
							<li><a href="#">Женская обувь</a></li>
							<li><a href="#">Угги</a></li>
							<li><a href="#">Сандалии</a></li>
							<li><a href="#">Туфли</a></li>

						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>