<div id="offcanvas-navbar" class="_modal offcanvas">
	<div class="offcanvas__overlay">
		<div class="offcanvas__content _modal__content">
			<div class="offcanvas__header">
				<h2 class="offcanvas__title ">Titlte</h2>
				<div class="offcanvas__close _close-modal">x</div>
			</div>
			<div class="offcanvas__body">
				<ul class="m-menu">
					<li class="m-menu__item">
						<a href="#" class="m-menu__link">1</a>
					</li>
					<li class="m-menu__item">
						<a href="#" class="m-menu__link">2</a>
					</li>
					<li class="m-menu__item">
						<a href="#" class="m-menu__link">3</a>
					</li>
					<li class="m-menu__item">
						<a href="#" class="m-menu__link">4</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

</div>